h1 {
    color: rgb(112, 2, 140);
}
@font-face {
            font-family: "Bitcount Ink";
            src: url(./FONT-FAMILY/BitcountInk-VariableFont_CRSV\,ELSH\,ELXP\,SZP1\,SZP2\,XPN1\,XPN2\,YPN1\,YPN2\,slnt\,wght.ttf) format("truetype");
        }
.Lorem {
    font-family: "Bitcount Ink", system-ui;
    font-size: 50px;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "slnt" 0,
        "CRSV" 0.5,
        "ELSH" 0,
        "ELXP" 0,
        "SZP1" 0,
        "SZP2" 0,
        "XPN1" 0,
        "XPN2" 0,
        "YPN1" 0,
        "YPN2" 0;
}